
    <!--Cover Page-->
<div class="section-content">
    <section id="cover">
        <div id="cover-caption">
        <div class="section-content">
            <div class="container">

                <div class="col-sm-10 col-sm-offset-1">
                	<a href="https://www.facebook.com/ceci.roel"><img class="borderadius" src="https://uploads.branded.me/56b2725278fea5000fdabaac/higresmesatur.46646374.jpg"></a>
                    <h1 class="display-1" >CECI ROEL</h1>
                    <h3>Lic. Arte Digital y Negocios Multimedia</h3>
                    <p><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>Centro de Estudios Superiores de Diseño de Monterrey </p>
                    
                    <!--Form Action-->
                    
                    <form action="" class="form-inline">
                        <!--Submit Button-->
                        
                        <a href="mailto:kcc.roel@gmail.com" class="btn btn-success btn-lg">Contact Me</a>
                           <!-- Social Media Links-->
                  
                            <h5>Follow & Connect!</h5>
                            <a href="https://www.facebook.com/ceci.roel" class="btn btn-sm btn-secondary-outline">Facebook</a>
                            <a href="https://twitter.com/ceci_roel" class="btn btn-sm btn-secondary-outline">Twitter</a>
                            <a href="https://www.instagram.com/ceciroel/" class="btn btn-sm btn-secondary-outline">Instagram</a>
                             <a href="https://mx.linkedin.com/in/ceciroel" class="btn btn-sm btn-secondary-outline">LinkedIn</a>
                     
                        
                    </form>


                
                     
                 
                   

                  
                </div>
               
            </div>
        </div>
        </div>
    </div>    
    </section>