<!---Contact Section -->
    <section id="contact">
        <div class="section-content">
		</div>
            <div class="container">

                <div class="col-md-6">

                    <div class="contact-text">
                        <h3>Contact Me</h3>
                      
                       <!-- Contact Form -->
                    <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
					<div class="row">
						<label for="name">Your name:</label><br />
						<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
					</div>
					<div class="row">
						<label for="email">Your email:</label><br />
						<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
					</div>
					<div class="row">
						<label for="message">Your message:</label><br />
						<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
					</div>
					<input id="submit_button" class="btn btn-success btn-sm" type="submit" value="Submit"/>
					


					</form>		

  					
					</div>

                        <!-- Social Media Links-->
                        <div class="social">
                        	<h5>Follow & Connect!</h5>
                        	<a href="https://www.facebook.com/ceci.roel" class="btn btn-sm btn-secondary-outline">Facebook</a>
                        	<a href="https://twitter.com/ceci_roel" class="btn btn-sm btn-secondary-outline">Twitter</a>
                        	<a href="https://www.instagram.com/ceciroel/" class="btn btn-sm btn-secondary-outline">Instagram</a>
                       		 <a href="https://mx.linkedin.com/in/ceciroel" class="btn btn-sm btn-secondary-outline">LinkedIn</a>
                       	</div>
                    </div>
                </div>
            </div>
        </div>

    </section>