
    <!--Cover Page-->
    <section id="cover">
        <div id="cover-caption">
            <div class="container">
                <div class="col-sm-10 col-sm-offset-1">
                	<a href="https://www.facebook.com/ceci.roel"><img class="borderadius" src="https://uploads.branded.me/56b2725278fea5000fdabaac/higresmesatur.46646374.jpg"></a>
                    <h1 class="display-3" style=color:white;>CECI ROEL</h1>
                    <h3 style=color:white>Lic. Arte Digital y Negocios Multimedia</h3>
                    <p style=color:white><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>Centro de Estudios Superiores de Diseño de Monterrey </p>
                    
                    <!--Form Action-->
                    
                    <form action="" class="form-inline">
                        <!--Submit Button-->
                        
                        <a href="mailto:kcc.roel@gmail.com" class="btn btn-success btn-lg">Contact Me</a>
                        
                    </form>
                    <!--Nav Main Arrow-->  
                    <div class="nav-down">
                    	<a href="#nav-main" class="btn btn-secondary-outline btn-sm" role=button style=color:#ffffff;>↓</a>

                  
                </div>
                <a href="<%= new_user_session_path %>"> Login </a>
            </div>
        </div>
    </section>