

 <!-- Portafolio -->
    <section id="portafolio">
        <div class="section-content">
            <div class="container">
                <h2 class="display-5">Portafolio</h2>
  

    <!--Inner Nature-->
          <div class="cover-img">
    <a href="https://www.behance.net/gallery/20208715/NATURALEZA-INTERNA-DEL-SER-INNER-NATURE" class="cover-img-link">
      <picture class="cover-img-el">
        <source srcset="https://mir-s3-cdn-cf.behance.net/projects/202/20208715.542d526560f94.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/20208715.542d526560f94.jpg 2x" media="(-webkit-min-device-pixel-ratio: 1.3),
           (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 4/3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx)">
        <img class="cover-img-el" srcset="https://mir-s3-cdn-cf.behance.net/projects/202/20208715.542d526560f94.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/20208715.542d526560f94.jpg 2x" alt="NATURALEZA INTERNA DEL SER / INNER NATURE">
      </picture>
    <noscript>&lt;img alt="NATURALEZA INTERNA DEL SER / INNER NATURE" title="NATURALEZA INTERNA DEL SER / INNER NATURE" src="https://mir-s3-cdn-cf.behance.net/projects/202/20208715.542d526560f94.jpg" class="cover-img-el" /&gt;</noscript>
    </a>
  </div>


  <!--Mandalas Embossed-->
<div class="cover-img">    <a href="https://www.behance.net/gallery/20944993/MANDALAS-EMBOSSED-ON-THE-HIGH" class="cover-img-link">      <picture class="cover-img-el">        <source srcset="https://mir-s3-cdn-cf.behance.net/projects/202/20944993.5453baa25c318.png, https://mir-s3-cdn-cf.behance.net/projects/404/20944993.5453baa25c318.png 2x" media="(-webkit-min-device-pixel-ratio: 1.3),
           (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 4/3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx)">        <img class="cover-img-el" srcset="https://mir-s3-cdn-cf.behance.net/projects/202/20944993.5453baa25c318.png, https://mir-s3-cdn-cf.behance.net/projects/404/20944993.5453baa25c318.png 2x" alt="MANDALAS EMBOSSED ON THE HIGH">      </picture>    <noscript>&lt;img alt="MANDALAS EMBOSSED ON THE HIGH" title="MANDALAS EMBOSSED ON THE HIGH" src="https://mir-s3-cdn-cf.behance.net/projects/202/20944993.5453baa25c318.png" class="cover-img-el" /&gt;</noscript>    </a>  </div>


<!--BOGATA KIDS-->
<div class="cover-img">    <a href="https://www.behance.net/gallery/25964011/BOGATA-KIDS-ALBUM-ARTWORK" class="cover-img-link">      <picture class="cover-img-el">        <source srcset="https://mir-s3-cdn-cf.behance.net/projects/202/9e210325964011.554976625d473.png, https://mir-s3-cdn-cf.behance.net/projects/404/9e210325964011.554976625d473.png 2x" media="(-webkit-min-device-pixel-ratio: 1.3),
           (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 4/3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx)">        <img class="cover-img-el" srcset="https://mir-s3-cdn-cf.behance.net/projects/202/9e210325964011.554976625d473.png, https://mir-s3-cdn-cf.behance.net/projects/404/9e210325964011.554976625d473.png 2x" alt="BOGATA KIDS ALBUM ARTWORK">      </picture>    <noscript>&lt;img alt="BOGATA KIDS ALBUM ARTWORK" title="BOGATA KIDS ALBUM ARTWORK" src="https://mir-s3-cdn-cf.behance.net/projects/202/9e210325964011.554976625d473.png" class="cover-img-el" /&gt;</noscript>    </a>  </div>

<!--Aquaflux-->
<div class="cover-img">
    <a href="https://www.behance.net/gallery/20209859/AQUAFLUX" class="cover-img-link">
      <picture class="cover-img-el">
        <source srcset="https://mir-s3-cdn-cf.behance.net/projects/202/20209859.542d5c2368895.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/20209859.542d5c2368895.jpg 2x" media="(-webkit-min-device-pixel-ratio: 1.3),
           (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 4/3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx)">
        <img class="cover-img-el" srcset="https://mir-s3-cdn-cf.behance.net/projects/202/20209859.542d5c2368895.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/20209859.542d5c2368895.jpg 2x" alt="AQUAFLUX">
      </picture>
    <noscript>&lt;img alt="AQUAFLUX" title="AQUAFLUX" src="https://mir-s3-cdn-cf.behance.net/projects/202/20209859.542d5c2368895.jpg" class="cover-img-el" /&gt;</noscript>
    </a>
  </div>


<!--GYBE-->
<div class="cover-img">
    <a href="https://www.behance.net/gallery/20221307/GODSPEED-YOU-BLACK-EMPEROR-ALBUM-ART" class="cover-img-link">
      <picture class="cover-img-el">
        <source srcset="https://mir-s3-cdn-cf.behance.net/projects/202/20221307.542dc226d1d4a.png, https://mir-s3-cdn-cf.behance.net/projects/404/20221307.542dc226d1d4a.png 2x" media="(-webkit-min-device-pixel-ratio: 1.3),
           (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 4/3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx)">
        <img class="cover-img-el" srcset="https://mir-s3-cdn-cf.behance.net/projects/202/20221307.542dc226d1d4a.png, https://mir-s3-cdn-cf.behance.net/projects/404/20221307.542dc226d1d4a.png 2x" alt="GODSPEED YOU BLACK EMPEROR ALBUM ART">
      </picture>
    <noscript>&lt;img alt="GODSPEED YOU BLACK EMPEROR ALBUM ART" title="GODSPEED YOU BLACK EMPEROR ALBUM ART" src="https://mir-s3-cdn-cf.behance.net/projects/202/20221307.542dc226d1d4a.png" class="cover-img-el" /&gt;</noscript>
    </a>
  </div>

  <!--Rock & Picnic-->
 <div class="cover-img">    <a href="https://www.behance.net/gallery/21568733/Carta-Blanca-Rock-Picnic" class="cover-img-link">      <picture class="cover-img-el">        <source srcset="https://mir-s3-cdn-cf.behance.net/projects/202/0ba5c621568733.554933ec616d5.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/0ba5c621568733.554933ec616d5.jpg 2x" media="(-webkit-min-device-pixel-ratio: 1.3),
           (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 4/3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx)">        <img class="cover-img-el" srcset="https://mir-s3-cdn-cf.behance.net/projects/202/0ba5c621568733.554933ec616d5.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/0ba5c621568733.554933ec616d5.jpg 2x" alt="Carta Blanca : Rock &amp; Picnic">      </picture>    <noscript>&lt;img alt="Carta Blanca : Rock &amp;amp; Picnic" title="Carta Blanca : Rock &amp;amp; Picnic" src="https://mir-s3-cdn-cf.behance.net/projects/202/0ba5c621568733.554933ec616d5.jpg" class="cover-img-el" /&gt;</noscript>    </a>  </div>

<!--Pal Norte-->
 <div class="cover-img">    <a href="https://www.behance.net/gallery/25957263/PAL-NORTE-2015-(25-ABRIL)" class="cover-img-link">      <picture class="cover-img-el">        <source srcset="https://mir-s3-cdn-cf.behance.net/projects/202/fa21a825957263.5549323f4fc72.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/fa21a825957263.5549323f4fc72.jpg 2x" media="(-webkit-min-device-pixel-ratio: 1.3),
           (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 4/3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx)">        <img class="cover-img-el" srcset="https://mir-s3-cdn-cf.behance.net/projects/202/fa21a825957263.5549323f4fc72.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/fa21a825957263.5549323f4fc72.jpg 2x" alt="PA'L NORTE 2015 (25 ABRIL)">      </picture>    <noscript>&lt;img alt="PA'L NORTE 2015 (25 ABRIL)" title="PA'L NORTE 2015 (25 ABRIL)" src="https://mir-s3-cdn-cf.behance.net/projects/202/fa21a825957263.5549323f4fc72.jpg" class="cover-img-el" /&gt;</noscript>    </a>  </div>

<!--Pal Norte 2-->
<div class="cover-img">    <a href="https://www.behance.net/gallery/25955485/PAL-NORTE-2015-(24-ABRIL)" class="cover-img-link">      <picture class="cover-img-el">        <source srcset="https://mir-s3-cdn-cf.behance.net/projects/202/e5d35d25955485.5549782da0f51.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/e5d35d25955485.5549782da0f51.jpg 2x" media="(-webkit-min-device-pixel-ratio: 1.3),
           (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 4/3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx)">        <img class="cover-img-el" srcset="https://mir-s3-cdn-cf.behance.net/projects/202/e5d35d25955485.5549782da0f51.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/e5d35d25955485.5549782da0f51.jpg 2x" alt="PA'L NORTE 2015 (24 ABRIL)">      </picture>    <noscript>&lt;img alt="PA'L NORTE 2015 (24 ABRIL)" title="PA'L NORTE 2015 (24 ABRIL)" src="https://mir-s3-cdn-cf.behance.net/projects/202/e5d35d25955485.5549782da0f51.jpg" class="cover-img-el" /&gt;</noscript>    </a>  </div>


<!--Gondwana-->
<div class="cover-img">    <a href="https://www.behance.net/gallery/21569077/GONDWANA-MELLOW-MOOD-COLECTIVO-CONTINENTE" class="cover-img-link">      <picture class="cover-img-el">        <source srcset="https://mir-s3-cdn-cf.behance.net/projects/202/21569077.5473df2140087.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/21569077.5473df2140087.jpg 2x" media="(-webkit-min-device-pixel-ratio: 1.3),
           (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 4/3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx)">        <img class="cover-img-el" srcset="https://mir-s3-cdn-cf.behance.net/projects/202/21569077.5473df2140087.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/21569077.5473df2140087.jpg 2x" alt="GONDWANA - MELLOW MOOD - COLECTIVO CONTINENTE">      </picture>    <noscript>&lt;img alt="GONDWANA - MELLOW MOOD - COLECTIVO CONTINENTE" title="GONDWANA - MELLOW MOOD - COLECTIVO CONTINENTE" src="https://mir-s3-cdn-cf.behance.net/projects/202/21569077.5473df2140087.jpg" class="cover-img-el" /&gt;</noscript>    </a>  </div>


<!--Quiero Club-->
<div class="cover-img">    <a href="https://www.behance.net/gallery/21569345/QUIERO-CLUB-10-ANOS" class="cover-img-link">      <picture class="cover-img-el">        <source srcset="https://mir-s3-cdn-cf.behance.net/projects/202/21569345.5473e1cae98cc.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/21569345.5473e1cae98cc.jpg 2x" media="(-webkit-min-device-pixel-ratio: 1.3),
           (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 4/3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx)">        <img class="cover-img-el" srcset="https://mir-s3-cdn-cf.behance.net/projects/202/21569345.5473e1cae98cc.jpg, https://mir-s3-cdn-cf.behance.net/projects/404/21569345.5473e1cae98cc.jpg 2x" alt="QUIERO CLUB 10 AÑOS">      </picture>    <noscript>&lt;img alt="QUIERO CLUB 10 AÑOS" title="QUIERO CLUB 10 AÑOS" src="https://mir-s3-cdn-cf.behance.net/projects/202/21569345.5473e1cae98cc.jpg" class="cover-img-el" /&gt;</noscript>    </a>  </div>



   </div>   
        </div>
    </section>